{% extends 'layouts/app.twig' %}

{% block content %}
<div class="card card-default">
    <div class="card-header">
        Home
    </div>

    <div class="card-body">
        <p>
            Yo! you've logged in, {{ auth.user.name }}
        </p>
    </div>
</div>
{% endblock %}