<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Biometrics {% endblock %}</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{% include 'layouts/partials/_navbar.twig' %}
<div class="container">
    {% include 'layouts/partials/_flash.twig' %}
    {% block content %}{% endblock %}
</div>

<section class="footer bg-secondary text-light p-1">
    <div class="copyright">Copyright 2019, &copy; Al Jeraisy Company</div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>